body {
	margin: 0;
	font-size: 16px;
}
.app {
	background-color: #202020;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.hide-cursor {
	cursor: none;
}
.canvas-wrapper {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
#canvas-fg {
	position: absolute;
	z-index: 2;
}
#canvas-bg {
	position: absolute;
	z-index: 1;
}
@keyframes fadeOut {
	0% {opacity: 100;}
	80% {opacity: 100;}
	90% {opacity: 0;}
	100% {opacity: 0;}
}
.timer {
	z-index: 3;
	position: absolute;
	top: 1rem;
	right: 1.2rem;
	font-size: 2rem;
	color: white;
	animation: fadeOut 1s infinite;
}